#map{
	z-index: 985;
}
.small-dialog{
	background: #fff;
    padding: 40px;
    padding-top: 0;
    text-align: left;
    max-width: 610px;
    margin: 40px auto;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
}
.small-dialog .mfp-close {
    color: #666;
    background-color: #e4e4e4;
    border-radius: 50%;
    top: 28px;
    right: 40px;
    width: 40px;
    height: 40px;
}
.small-dialog .mfp-close:hover {
    color: #fff;
    transform: rotate(0);
    background-color: #66676b;
}
.small-dialog .mfp-close:hover {
    background-color: #f91942;
}
.small-dialog .mfp-close::after, .small-dialog .mfp-close::before {
    top: 4px;
    height: 9px;
    font-size: 21px;
    transition: 0s;
}

.chosen-container-single{
    margin-bottom: 16px;
}